<template>
  <div id="app" class="container" style="margin-bottom: 30px;">
    <div class="hello">
      <table class="table" v-if="arr.length > 0">
        <tr>
          <th v-for="(header, index) in Object.keys(arr[0])" :key="index">{{header}}</th>
        </tr>
        <tr v-for="(data, index) in arr" :key="index">
          <td v-for="(rowData, rowIndex) in data" :key="rowIndex">{{rowData}}</td>
        </tr>
      </table>
    </div>
    <div class="btn btn-info" @click="pivotToJson(this.arr)">
      PIVOT DATA
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import crossfilter from 'crossfilter2';

export default {
  name: 'app',
  async beforeMount() {
    try {
      const response = await axios.get('http://localhost:3000/user-data')
      this.arr = response.data
    } catch (error) {
    }
  },
  data: function() {
    return {
      arr: []
    }
  },
  computed: {
    pivotToJson: async function(arr) {
      const response = await axios.get('http://localhost:3000/user-data')
      var ndx = crossfilter(response.data); 

      var pivotRow = 'email'; 
      var pivotCol = 'item'
      var pivotVal = 'item'

      var out = []; 

      var pivotRowDimension = ndx.dimension(function(d){
        return d['email'];
      });

      var pivotColDimension = ndx.dimension(function(d){
        return d['item'];
      });

      var totalByPivotRow = pivotRowDimension.group().reduceCount(function(d){
        return d[pivotVal]
      });

      var allRecs = totalByPivotRow.all();

      allRecs.forEach(function(rec){
        
        pivotRowDimension.filter();
        pivotRowDimension.filter(rec.key);
        
        var totalByPivotCol = pivotColDimension.group().reduceCount(function(d){ 		
          return d[pivotVal]
        });

        var data = totalByPivotCol.all();
        
        var doc = {}; 
        
        const fullObject = response.data.find(x => x.email === rec.key)
        doc['fullName'] = fullObject.fullName
        doc[pivotRow] = rec.key;
        
        data.forEach(function(d){
          doc[d.key] = d.value;
        });
        
        out.push(doc);
      });
      this.arr = out;
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
